@model List<Product>
<partial name="_Notification"></partial>
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Product List
            </h2>
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Product
            </a>
        </div>
        <div class="col-6 text-end">
            <form asp-action="Index" method="post" class="d-inline">
                <label for="SearchTerm">Search</label>
                <input type="text" id="SearchTerm" name="SearchTerm" class="form-control d-inline" style="width: 70%;" />
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i> Search
                </button> 
                
            </form>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Price
                </th>
                <th>
                    Author
                </th>
                <th>
                    Category
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Title
                    </td>
                    <td>
                        @obj.ISBN
                    </td>
                    <td>
                        @obj.ListPrice
                    </td>
                    <td>
                        @obj.Author
                    </td>
                    <td>
                        @obj.category.Name
                    </td>

                    <td>
                        <div>
                            <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i>   Edit
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
